#container-menu{
  position: relative;
}

#genre-list{
  position:relative;
  margin-top: 30px;
  border-width:2px;
  width:100px;
  height: 100px;
  /* background-color: peachpuff; */
  float: left;
}

#seach-bar{
  position: relative;
  /* border-width:2px; */
  width: 200px;
  height: 100px;
  left:-30px;
  /* background-color: red; */
  float: right;
}

#posters{
  position: relative;
  top:100px;

}