<div id="container-menu">
      <!-- <p> {{movie}}</p> -->
        <div id="genre-list" *ngIf="flag">
          <!-- <button>teste 1</button> -->
            <mat-menu #menu="matMenu">
                <ng-template matMenuContent>
                  <button mat-menu-item *ngFor='let i of genero.genres'><a (click)="returnIdGenre(i.id)">{{i.name}}</a></button>
                </ng-template>
            </mat-menu>
            <button mat-flat-button [matMenuTriggerFor]="menu">Menu</button>
          </div>  
        <div id="seach-bar" >
            <!-- <button>teste 2</button> -->
          <mat-form-field floatLabel="never" style="padding: 10px;">
            <mat-label>Search</mat-label>
            <input matInput [(ngModel)]="searchQuery">
          </mat-form-field>
        </div>
</div>

    <app-poster (movieEvent)="movie=$event" id="posters" [parentData]="idGenre" [sortbyData]="sortBy" [searchQuery]="searchQuery"></app-poster>
    <!-- <app-dialog-poster></app-dialog-poster> -->

