<!-- <div *ngIf="flag">
  <button>Genres</button>
    <ul>
      <li *ngFor='let i of genero.genres'><a>{{i.name}}</a></li>
    </ul>
</div> -->
<ul>
  <li style="display: inline">
    <div *ngIf="flag" class="dropdown" >
      <button class="dropbtn">Genres</button>
      <ul class="dropdown-content" style="list-style-type: none">
        <li *ngFor='let i of genero.genres'><a (click)="returnIdGenre(i.id)" href="#">{{i.name}}</a></li>
      </ul>
    </div>
  </li>

  <li style="display: inline">
    <div *ngIf="flag" class="dropdown" >
      <button class="dropbtn">Sort by</button>
      <ul class="dropdown-content" style="list-style-type: none">
        <li><a (click)="sortBy='sort_by=popularity.desc'" href="#">Popularity</a></li>
        <li><a (click)="sortBy='sort_by=release_date.desc'" href="#">Release</a></li>
        <li><a (click)="sortBy='sort_by=vote_average.desc'" href="#">Rated</a></li>
      </ul>
    </div>
  </li>
</ul>

<app-poster [parentData]="idGenre" [sortbyData]="sortBy"></app-poster>
